@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
    font-family: 'Rubik', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 50px;
    background-color: #B2FF51;
}

#logo {
    width: 80%;
    height: 35px;
    margin-right: 6px;
    margin-top: 4px;
}

.header__logo {
    /* border: 1px solid blue; */
    display: flex;
    text-transform: uppercase;
    cursor: pointer;
}

.header__logo h1 {
    display: flex;
    text-transform: uppercase;
    font-size: 1.6em;
    align-items: center;
    color: var(--white);
}

.nav__container {
    width: 80%;
    height: inherit;
    /*retoma lo ancho que tiene su padre*/
    /* border: 1px solid purple; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav__opciones {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__opciones-mobil {
    visibility: hidden;
    position: absolute;
}

.nav__opciones-mobil-activo {
    font-size: 2rem;
    opacity: 100%;
    /* color: red; */
}

.nav__opciones a {
    /* border: 1px solid red; */
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    opacity: 75%;
}

.nav__opciones a:hover {
    opacity: 100%;
}

/* QUERY */
/* MEDIA QUERIES */
@media (max-width: 1210px) {
    .nav__opciones {
        visibility: hidden;
        position: absolute;
    }

    .nav__opciones-mobil {
        visibility: visible;
        position: relative;
        display: flex;
        align-items: center;
    }

    .nav__opciones-mobil i {
        font-size: 2rem;
        color: black;
        opacity: 75%;
        cursor: pointer;
    }
    
}

/*     CONTENIDO PRINCIPAL        */

.contenido-principal__container {
    width: 80%;
    margin: auto;
    border: 5px solid red;
    display: flex;
}

.imagen-prod{
    margin: auto;
    padding: 70px;
    margin: auto;
    /* border: 5px solid rgb(0, 162, 255); */
}

/* .imagen-prod:hover{
    transform: scale(0.9);
    transition: all 0.2s ease;
} */

.detalles-contenido-principal {
    width: 100%;
    /* border: 5px solid blue; */
}

.titulo-prod {
    /* border: 5px solid yellow; */
    text-align: left;
    font-size: 27px;
    margin-top: 70px;
}

.precio{
    margin-top: 5vh;
    width: 100%;
    font-size: 1rem;
}

.numero{
    color: red;
    font-size: 1.4rem;
}

.peso {
    margin-top: 5vh;
    width: 100%;
    font-size: 2rem;
    background-color: #dedede;
    width: 170px;
    text-align: center;
    padding: 20px 0px;
    font-weight: 700;
    border-radius: 5px;
}

.breve-descripcion {
    margin-top: 5vh;
    text-align: left;
    font-size: 1.2rem;
}

.boton-de-carrito button{
    margin-top: 5vh;
    border: none;
    background-color: rgb(94, 94, 254);
    color: white;
    font-size: 2rem;
    border-radius: 5px;
    padding: 10px 20px;
    opacity: 75%;
    transition: all 0.2s ease;
    cursor: pointer;
}

.boton-de-carrito button:hover{
    opacity: 100%;
    transition: all 0.2s ease;
}

.textos-principal{
    width: 80%;
    margin: auto;
    border: 5px solid rgb(51, 255, 0);
    display: flex;
    
}

.ingredientes{
    margin: auto;
    border: 5px solid rgb(76, 0, 255);
    width: 100%;
    
}

.texti1{
    height: 100%;
   border: 5px solid rgb(0, 225, 255);
}

.descripcion{
    width: 100%;
    margin: auto;
    border: 5px solid rgb(255, 0, 242);
    
}

.titulo-ingredientes{
    color: #0ABE11;
    font-size: 1.8rem;
    
    
}

.sub-titulo-ingredientes{
    color: #0ABE11;
    font-size: 1.2rem;
    
}

.descripcion{
    width: 100%;
    height: 100%;
    margin: auto;
    border: 5px solid rgb(76, 0, 255);
    display: gap;
}

.descripcion1{
   height: 100%;
   border: 5px solid rgb(0, 225, 255);
   margin-top: auto;
}

.titulo-descripcion{
    color: #0ABE11;
    font-size: 1.8rem;
   
    
}

.sub-titulo-descripcion{
    color: #0ABE11;
    font-size: 1.2rem;
   
}

.descripcion2{
    
}

.parrafo-ingre-1{
    margin-top: 3vh;
}

.parrafo-ingre-2{
    margin-top: 3vh;
}

.parrafo-ingre-3{
    margin-top: 3vh;
}

.parrafo-ingre-4{
    margin-top: 3vh;
}

.parrafo-des-1{
    white-space: normal;
    border: 5px solid rgb(255, 0, 255);
    margin-top: 3vh;
}

.parrafo-des-2{
    margin-top: 3vh;
}

.parrafo-des-3{
    margin-top: 3vh;
}

.parrafo-des-4{
    margin-top: 3vh;
}

.parrafo-des-5{
    margin-top: 3vh;
}

.parrafo-des-6{
    margin-top: 3vh;
}

#caracteristicas{
    margin-top: 3vh;
}
