

.h{
  text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 25px;
  font-size: 25px;
}
img{
  height: 150px;
}


*{
  background-color: aliceblue;
  box-sizing: border-box;
}
label{text-align: center;
font-size: 30px;
}

.fnombre{

border-bottom: 1px solid black;
border-top: 0;
border-left: 0;
border-right: 0;
margin: auto;
width: 400px;
height: 50px;
 font-size: 30px;
}
.fespecie{
  border-bottom: 1px solid black;
border-top: 0;
border-left: 0;
border-right: 0;
margin: auto;
width: 400px;
height: 50px;
 font-size: 30px;
}
.fraza{
  border-bottom: 1px solid black;
border-top: 0;
border-left: 0;
border-right: 0;
margin: auto;
width: 400px;
height: 50px;
 font-size: 30px;
}
p{
  font-size: 30px;
}
.fo{
  border-bottom: 1px solid black;
border-top: 0;
border-left: 0;
border-right: 0;

width: 400px;
height: 50px;
 font-size: 30px;
}
.idcliente{
  border-bottom: 1px solid black;
border-top: 0;
border-left: 0;
border-right: 0;
margin: auto;
width: 400px;
height: 50px;
 font-size: 30px;
}
.izquierda{
  margin-left: 900px;
  margin-top: -565px;
  
}
.formulario{
  margin-left: 300px;
}
.dueño{
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: auto;
  width: 400px;
  height: 50px;
   font-size: 30px;
}
.number{
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: auto;
  width: 400px;
  height: 50px;
   font-size: 30px;
}
.home{
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: auto;
  width: 400px;
  height: 50px;
   font-size: 30px;
}
.calle{
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: auto;
  width: 400px;
  height: 50px;
   font-size: 30px;
}
.cp{
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: auto;
  width: 400px;
  height: 50px;
   font-size: 30px;
}
label{
  display: inline-block;
}