@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --productos-bg-categoria: rgb(174, 255, 174);
    --productos-letras-categoria: rgb(52, 87, 52);

    --estetica-bg-categoria: rgb(182, 240, 255);
    --estetica-letras-categoria: rgb(44, 85, 96);

    --atencion-medica-bg-categoria: rgb(253, 167, 167);
    --atencion-medica-letras-categoria: rgb(98, 64, 64);
}

body {
    font-family: 'Rubik', sans-serif;
    background-image: url('../imagenes/petsbg.png');
    background-repeat: repeat;
}

/* --------- ------ HEADER ------ --------- */

header {
    /* border: 1px solid red; */
    background-image: url('../imagenes/bg-header.jpg');
    background-size: cover;
    background-position: -100px 0px;
    padding-top: 20px;
    margin: auto;
    width: 100%;
}

.header__container {
    /* border: 1px solid white; */
    position: relative;
    height: 500px;
    width: 70%;
    margin: auto;
}

#logo {
    width: 100%;
    height: 35px;
}

.header__logo {
    /* border: 1px solid red; */
    display: flex;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
    float: left;
}

.header__logo h1>span {
    font-size: 1.2em;
    color: var(--white);
}

.header__navegador {
    /* border: 1px solid red; */
    text-align: right;

}

.header__nav-quienes-somos {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.header__nav-link {
    cursor: pointer;
    color: var(--white);
    font-size: 1.1em;
    font-weight: 400;
    margin: 5px 20px;
    display: inline-block;
    /* Otra forma de colocar elemntos uno al lado del otro */
    opacity: 80%;
}

.header__nav-link:hover {
    /* color:rgb(52, 52, 52); */
    color: var(--white);
    opacity: 100%;
}

/* ------------- ------ MEDIA QUERIES ------ ---------- */
@media (max-width: 1560px) {
    .header__container {
        width: 80%;
    }
}

@media (max-width: 1364px) {
    .header__container {
        width: 90%;
    }
}

.categorias__container {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: var(--white);
}

.categorias__estetica,
.categorias__productos,
.categorias__atencion-medica {
    padding: 20px 30px;
    border: 1px solid var(--white);
    border-radius: 5px;
    margin: 180px auto 0px auto;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 150ms;
    display: flex;
}

.categorias__estetica i,
.categorias__productos i,
.categorias__atencion-medica i {
    padding-right: 15px;
}

.categorias__productos:hover,
.categorias__estetica:hover,
.categorias__atencion-medica:hover {
    transition: all 150ms;
    cursor: pointer;
}

.categorias__productos:hover {
    background-color: var(--productos-bg-categoria);
    color: var(--productos-letras-categoria);
    border: 1px solid var(--productos-bg-categoria);

}

.categorias__estetica:hover {
    background-color: var(--estetica-bg-categoria);
    color: var(--estetica-letras-categoria);
    border: 1px solid var(--estetica-bg-categoria);
}

.categorias__atencion-medica:hover {
    background-color: var(--atencion-medica-bg-categoria);
    color: var(--atencion-medica-letras-categoria);
    border: 1px solid var(--atencion-medica-bg-categoria);
}

@media (max-width: 1175px) {
    .categorias__estetica,
    .categorias__productos,
    .categorias__atencion-medica {
        font-size: 1.5em;
    }
}

@media (max-width: 1010px) {
    .categorias__estetica,
    .categorias__productos,
    .categorias__atencion-medica {
        font-size: 1.2em;
        margin: 40px auto 0px auto;
        width: 80%;
        text-align: center;
        display: flex;
    }

    .categorias__estetica i,
    .categorias__productos i,
    .categorias__atencion-medica i{
        margin-right: 50px;
        margin-left: 30px;
    }

    .categorias__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        color: var(--white);
    }
}

@media (max-width: 550px) {
    .categorias__container {
        position: relative;
        width: 42%;
        margin: auto;
    }

    .categorias__estetica,
    .categorias__productos,
    .categorias__atencion-medica {
        font-size: 1.5em;
    }

    .categorias__estetica i,
    .categorias__productos i,
    .categorias__atencion-medica i{
        margin-right: 50px;
        margin-left: 30px;
    }

    .categorias__estetica p,
    .categorias__productos p,
    .categorias__atencion-medica p {
        visibility: hidden;
        position: absolute;
    }
}

/* --------- ------ CONTENEDOR PRINICIPAL ------ --------- */

/*----------------- CODIGO EMI -----------------*/

.productos-container {
    position: relative;
    overflow: visible;
    width: 60%;
    margin: auto;
    margin-bottom: 500px;
}

.card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    background-image: linear-gradient(var(--card-gradient), white max(9.5rem, 27vh));
}

.card img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: max(10rem, 30vh);
    mix-blend-mode: var(--card-blend-mode);
    vertical-align: top;
}

.card img~* {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* .card > :last-child {
  margin-bottom: 0;
} */

.card:hover,
.card:focus-within {
    background-color: rgb(246, 246, 246);
    /* background-color: var(--productos-bg-categoria); */
}

.card h3 {
    margin-top: 1rem;
    font-size: 1.25rem;
}

.card-wrapper {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
    max-width: 100vw;
    width: 120ch;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    top: -50px;
    left: 0px;
    /* box-shadow: 0px 0px 15px rgba(24, 24, 24, 0.357); */
}

@media (max-width: 1660px) {
    .productos-container {
        width: 70%;
    }
}

@media (max-width: 1560px) {
    .productos-container {
        width: 80%;
    }
}

@media (max-width: 1364px) {
    .productos-container {
        width: 100%;
    }
}

/* --------- ------ FOOTER ------ --------- */
footer{
    display: flex;
    background-color: rgb(1, 0, 21);
}

.redes{
    margin: auto;
    color: var(--white);
    background-color: var(--letters-color);
    border: 1px;
    padding: 2rem 0rem;
    text-align: left;
}

.redes a{
    text-decoration: none;
    color: white;
}

.copy{
    margin: auto;
    color: var(--white);
    background-color: var(--letters-color);
    padding: 2rem 0rem;
    text-align: center;
}

.politicas{
    margin: auto;
    color: var(--white);
    background-color: var(--letters-color);
    padding: 2rem 0rem;
    text-align: right;
}

.politicas a{
    text-decoration: none;
    color: white;
}